@import "./buttons.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pad-container {
    @apply px-4 sm:px-10 max-w-7xl mx-auto;
  }

  .parent-section {
    @apply flex justify-center w-full py-16 px-4;
  }

  .contents-container {
    @apply flex flex-col justify-between items-center;
    @apply w-full max-w-7xl md:flex-row md:px-6;
  }

  .rounded-image {
    @apply rounded-3xl;
  }

  .form {
    @apply flex flex-col w-full space-y-3 pt-2;
  }

  .form__field {
    @apply w-full py-2 px-3 rounded-md;
    @apply border border-launch-black-10 shadow-md placeholder:text-launch-black-40;
  }

  .form__dropdown {
    @apply border-r-[0.75rem] border-launch-neutral-10 placeholder:text-launch-black-40 pr-6;

    & option:first-child {
      @apply placeholder:text-launch-black-40;
    }
  }

  .form__field_error {
    @apply focus:ring-2 focus:ring-launch-orange;
  }

  .form__error {
    @apply text-launch-orange px-3;
  }

  .alternative-headline {
    @apply font-inter font-semibold;
  }
}

body {
  @apply font-inter;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-kanit font-medium;
  }
}

.policy__container {
  @apply pad-container my-4;

  & h3 {
    @apply mt-4;
  }

  & ol {
    @apply list-decimal list-inside;
  }

  & ul {
    @apply list-disc list-inside;
  }
}

.policy__contents {
  @apply parent-section;
}

.coming-soon-notice {
  margin-top: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-container {
  text-align: center;
}

.coming-soon-notice svg {
  display: block;
  margin: auto;
}

[data-lastpass-icon-root],
[data-lastpass-root] {
  display: none !important;
}

.calendly-inline-widget {
  overflow: hidden;
  position: relative;

  & iframe {
    display: block;
    margin: 0 auto;
    top: 32px;
    left: 0;
    border: 0;
    width: 100%;
    min-height: 600px;
  }
}

@media screen(lg) {
  .calendly-inline-widget {
    min-width: 300px;
  }
}
