@import "./buttons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pad-container {
    @apply px-4 sm:px-10 max-w-7xl mx-auto;
  }

  .parent-section {
    @apply flex justify-center w-full xl:py-16 py-4;
  }

  .contents-container {
    @apply flex flex-col justify-between items-center w-full max-w-7xl md:flex-row md:px-10;
  }

  .rounded-image {
    @apply rounded-3xl;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

body {
  @apply font-inter;
}

.coming-soon-notice {
  margin-top: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-container {
  text-align: center;
}

.coming-soon-notice svg {
  display: block;
  margin: auto;
}

[data-lastpass-icon-root],
[data-lastpass-root] {
  display: none !important;
}
